html {
    line-height: 1.3;
    background-color: #95B7D9;
}

body {
    font-family: Consolas, monaco, monospace;
    color: #515151;
   /* -webkit-text-size-adjust: 100%;*/
   /* -ms-text-size-adjust: 100%;*/
    margin-left: 140px; /* same as width of vertical navbar*/
    padding-left: 140px;
    padding-right: 40px;
}

main {
    font-size: 28px;
    width: auto;
    padding-top: 20px;
}

main p {
    margin-right: 5em;
}

h1 {
    font-family: 'Courier New', Courier, monospace;;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    color: #515151;
}

/*h1,h2 {
	text-shadow:
		-0.15px -0.15px 0 #000,
		0.15px -0.15px 0 #000,
		-0.15px 0.15px 0 #000,
		0.15px 0.15px 0 #000;
}*/
input {
    visibility: hidden;
}

label {
    display: none;
}

nav {
    height: auto;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: rgb(232,223,223);
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 5%;
}

nav a {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}

nav a:hover {
    color: #064579;
}

li::before {
    content: "";
    border-color: transparent #ea9aa8;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    width: 0;
    height: 0;
    top: 1.5em;
    position: relative;
    transform: rotate(90deg);
}

ul {
    margin: 0.7em 0;
    padding: 0 1em;
    list-style: none;
}


p a {
    /*border-bottom-style: solid;*/
    border-bottom-color: rgb(232,223,223);
    border-bottom-width: 2px;
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(120deg, rgb(232,223,223) 0%, rgb(232,223,223));
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: 0 88%;
    transition: all 0.25s ease-in;
}

p a:hover,
p a:active {
    color: #2196F3;
    background-size: 100% 88%;
}

body .fa {
    font-size: 25px;
    position: center;
    text-align: center;
    margin: auto;
    padding: 5px;;
    text-decoration: none;
    text-shadow:
        -1px 1px 0 #064579, 
        1px 1px 0 #064579, 
        1px -1px 0 #064579,
        -1px -1px 0 #064579
    ;
    color: rgb(232,223,223);
}

body .fa:hover {
    color: #2196F3;
    transform: scale(1.25);
}

summary {
    display: inline-block;
}

summary::before {
    content: "";
    border-color: transparent #ea9aa8;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    width: 0;
    height: 0;
    top: 1.5em;
    position: relative;
    transform: rotate(0deg);
    left: -20px;
}

details[open] > summary::before {
    content: "";
    border-color: transparent #ea9aa8;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    width: 0;
    height: 0;
    top: 1.5em;
    position: relative;
    transform: rotate(90deg);
    left: -20px;
}

img {
    height: 3em;
    width: auto;
}

@media (max-width: 600px) {
    nav > ul {
        display: none;
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }
    label[for="hamburger"] {
        display: inline;
        font-size: 4em;
        position: relative;
        color: black;
        left: 15px;
        top: 5px;
    }
    nav input:checked ~ ul {
        display: block;
    }
    nav {
        width: auto;
        height: auto;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: 20px;
        background: rgb(232,223,223);
        overflow-x: hidden;
        padding: 8px 0;
        border-radius: 5%;
    }
    ul {
        width: 100%;
        margin: 0.75em 0;
        padding: 0 1em;
    }
    ul > li {
        display: block;
        position: relative;
    }
    nav a {
        padding: 6px 8px 6px 16px;
        font-size: 30px;
        text-decoration: none;
        color: #2196F3;
        display: block;
    }
    nav a:hover,
    nav a:active {
        color: #064579;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
   main p {
        font-size: 16px;
        margin-right: 3%;
    }
    summary {
        display: block;
    }
    summary::before {
        content: none;
    }
    details[open] > summary::before {
        content: none;
    }
    img {
        height: 1.5em;
        width: auto;
    }
}

@media (max-width: 600px) {
    body {
       padding-left: 0;
       margin-left: 30%;
    }
}

/*@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: grid;
    text-align: left;
  }
}*/

/*freecodecamp challenges tweaks*/

#image {
  max-width: 35%;
  height: auto;
  margin: auto;
  display: block;
}

#img-caption {
  font-size: 15px;
  text-align: center;
}

#tribute-footer {
  text-align: center;
}
