{% extends "base.html" %}
{% block title %}
<title>
  JesseD | COUCH
</title>
{% endblock %}
{% block content %}
<h1 id="title">Community of Urbana-Champaign Coopeartive Housing</h1>
    
<div id="img-div">
  <img id="image" src="https://somosestrellas.files.wordpress.com/2013/10/twin-pines.png" alt="">
  <br>
  <p id="img-caption"><i>Twin pines are the worldwide symbol of cooperation.</i></p>
</div>

<section id="tribute-info">
  <h2>COUCH timeline:</h2>
  <ul>
    <li>2000 – NASCO Properties purchased two rooming houses in Urbana-Champaign.</li>
    <li>2001 – Brooks House was established.</li>
    <li>2002 – Harvest House was established.</li>
    <li>2019 – Randolph House was leased by COUCH.</li>
  </ul>
</section>
{% endblock %}
{% block footer %}
<footer id="tribute-footer">
    <a id="tribute-link" href="https://couchcooperative.org" target="_blank">COUCH Cooperative Website</a>
</footer>
{% endblock %}