{% extends "base.html" %}
{% block title %}
    JesseD | Home
{% endblock %}
{% block content %}
<h1 class="typewriter">jesse </h1>
<h2 class="typewriter">software developer; documentation specialist</h2>
<p>
    I currently work on improving developer tools for authoring documentation @ <a href="https://wolfram.com">Wolfram Research</a>. 
    I am a technical writer by trade and like to <a href="https://github.com/jldohmann">build (more!) things</a> in my spare time.
</p>
<p>
    <u>Current tech stack:</u> Wolfram Language / Python / HTML+CSS
</p>
<p>
    <u>Areas I focus on:</u> legacy systems / DX / functional programming and architecture
</p>
{% endblock %}
{% block footer %}
<footer id="contact">
    <h3>
        Connect with me:
        <a href="https://twitter.com/fourierfiend" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/jldohmann/" class="fa fa-linkedin"></a>
    </h3>
</footer>
{% endblock %}